* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-dark-blue: #213555;
  --color-blue: #3e5879;
  --navy-blue: #2f374b;
  --color-beige: #bb8060;
  --color-light-beige: #f1eee9;
  --dark-brown: #26201e;
}

@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quattrocento";
  src: url("../fonts/Quattrocento-Regular.woff2") format("woff2"),
    url("../fonts/Quattrocento-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Quattrocento", serif;
}

h1,
h2,
h3,
a,
.logo {
  font-family: "Cinzel", serif;
  text-transform: uppercase;
}

.hero {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-bg-mobile {
  display: none;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.1));
}

.content-wrapper {
  width: 80%;
  height: 50vh;
  /* border: 5px solid green; */
  margin-top: 6rem;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.content {
  text-align: center;
  color: white;
  /* border: 1px solid red; */
  width: 100%;
}

.content h1 {
  font-size: clamp(1.5rem, 4vw, 9rem);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.button-section {
  /* border: 1px solid red; */
  /* width: 55%; */
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fancy-button {
  position: relative;
  padding: 1rem 2rem;
  color: white;
  background: transparent;
  border: none;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  cursor: pointer;
  font-family: inherit;
  z-index: 1;
  transition: color 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
}

.fancy-button .corner {
  position: absolute;
  width: 15px;
  height: 15px;
  background: transparent;
  border-color: white;
  z-index: -1;
  transition: all 0.3s ease;
}

/* Corners */
.top-left {
  top: 0;
  left: 0;
  border-top: 2px solid;
  border-left: 2px solid;
}

.top-right {
  top: 0;
  right: 0;
  border-top: 2px solid;
  border-right: 2px solid;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid;
  border-left: 2px solid;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid;
  border-right: 2px solid;
}

.fancy-button:hover {
  background: white;
  color: var(--color-blue);
  font-weight: 600;
}

/* Hover animation to connect the corners */
.fancy-button:hover .corner {
  width: 100%;
  height: 100%;
  border-width: 2px;
  color: black;
}

.top-left {
  transition-delay: 0s;
}
.top-right {
  transition-delay: 0.05s;
}
.bottom-right {
  transition-delay: 0.1s;
}
.bottom-left {
  transition-delay: 0.15s;
}

/* Navigation Styles */
header {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  position: fixed;
  height: 6rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  background: transparent;
  transition: background 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(0);
  opacity: 1;
}

header.hide-on-scroll {
  transform: translateY(-100%);
  opacity: 0;
}

header.gradient-on-scroll {
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.4)),
    var(--color-dark-blue);
}

.logo {
  top: 1.5rem;
  left: 1.5rem;
  text-align: left;
}

.logo h3 {
  font-size: clamp(1.25rem, 2vw, 2.5rem);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.menu {
  /* border: 1px solid red; */
  width: 40%;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}

.menu ul li a:hover {
  text-decoration: underline;
}

/* Burger Menu Styles */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1.5rem;
}

.burger .line {
  width: 2rem;
  height: 0.053rem;
  background-color: white;
  margin: 0.17rem 0;
}

/* Fullscreen Menu */
.fullscreen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.fullscreen-menu ul {
  list-style: none;
  text-align: center;
}

.fullscreen-menu ul li {
  margin: 2rem 0;
}

.fullscreen-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 5vw;
}

/* Close Button (X) */
.close-btn {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 25;
  width: 2.5rem;
  height: 2.5rem;
}

.close-btn .line {
  width: 2rem;
  height: 0.053rem;
  background-color: white;
  margin: 0.17rem 0;
  transition: transform 0.3s ease-in-out;
}

/* Rotate lines to form "X" */
.close-btn .line:first-child {
  transform: rotate(45deg);
  position: absolute;
}

.close-btn .line:last-child {
  transform: rotate(-45deg);
  position: absolute;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .burger {
    display: flex;
  }

  .fullscreen-menu.active {
    display: flex;
  }
}

.floor-background {
  position: absolute;
  z-index: 999;
  width: 100%;
  background: url("../static_assets/images/Floor\ plan.png");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
}

.floor-background-overlay {
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 999;
  opacity: 0.75;
}

#preloader {
  position: fixed;
  inset: 0;
  background: #111;
  color: #fff;
  z-index: 9999999999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica Neue", sans-serif;
  transition: all 0.5s ease;
}

body.preloader-active,
html.preloader-active {
  overflow: hidden;
  height: 100%;
}

.loader-inner {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  /* border: 10px solid red; */
  width: 80%;
  z-index: 9999;
}

.preloader-wrapper {
  width: 100%;
}

.loader-text-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 99999;
  /* border: 1px solid red; */
}

.loader-logo {
  font-weight: 100;
  color: #fff;
  text-transform: uppercase;
  font-size: clamp(1.25rem, 15vw, 26rem);
  z-index: 99999;
  /* letter-spacing: 2rem; */
}

.loader-brand {
  font-size: clamp(1rem, 2vw, 18.5rem);
  z-index: 99999;
  letter-spacing: 5px;
  /* border: 1px solid red; */
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 28%;
  /* margin-left: 1.7rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader-counter {
  font-size: 1.5rem;
  opacity: 0.8;
  margin-top: 1rem;
}

.loader-spinner {
  width: 150px;
  height: 150px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Tablet and mobile Version */

@media (max-width: 1024px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .fancy-button {
    margin-bottom: 2rem;
    padding: 0.7rem 2rem;
  }
}
